.blockMessage{
    position: fixed;
    top: 20%;
    left: 25%;
    display: block;
    width: 50%;
    margin: 2rem auto;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    z-index: 5;
}

.message{
    text-align: center;
}

.btnBack{
display: flex;
justify-content: center;
}

.textBtnBack{
    text-decoration: none;
    padding: 15px 30px;
    background-color: red;
}