.imgAvatar {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  border: solid 1px rgba(35, 200, 241, 0.781);
}

.user {
  width: 25%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: solid 1px rgba(63, 66, 66, 0.781);
  border-radius: 10px;
}

.textDataUser {
  border-bottom: solid 1px gray;
}
