.header {
  text-align: center;
  margin: 1rem;
}

.sidebar {
  width: 300px;
}

.blockPage {
  width: 100%;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}
